@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NEO Tracker</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Introduction</h2>
        <p>
            The NEO (Near-Earth Object) Tracker is a state-of-the-art application that keeps track of small Solar System bodies
            that have the potential to cross Earth's orbit. Some of these objects can come quite close to us and are sizeable
            enough to cause widespread devastation if they struck our planet. To alleviate widespread hysterical panic, the
            NEO Tracker keeps an account of the size, distance from Earth and date of closest approach an object makes when it's
            in our vicinity. So, before you crawl into your underground bunker with your tin foil hat on, check out the NEO
            Tracker and rest easy.
        </p>
        <h3>NEO Tracker: We worry about the sky so you don't have to.</h3>
</div>
<div class="col-lg-offset-4">
    <img src="../../Earthasteroidflyby.jpg" class="float-right" />
</div>
</div>
 